<% unless comment.archived? %>
  <div class="container w-75 bg-light mt-5 rounded shadow" style="padding: 15px;">
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <% if user_signed_in? %>
    <% if current_user.id == comment.user_id %>
      <p>
        <%= link_to "Delete Comment", [comment.article, comment], data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  },
                  class: "btn btn-danger btn-sm" %>
      </p>
    <% end %>
  <% end %>
  </div><br>
<% end %>
